html {
	margin: 0;
	padding: 0;
	}
header{
    padding-top: 20px;
  	height: 60px;
    color: white;
    background-color: rgba(255,255,255,.5);
    border-bottom: solid 2px white;

}
img.logo{
  align-content:left;
  border-radius: 100px;
  display: flex;
  margin: 5px;
}
h1{
  text-align: left;
  font-family: 'Raleway', sans-serif;
  font-size: 60px;
  margin-top: 40px;
  color: white;
  padding: 20px;

}
ul {
  color: white;
  background-color: rgba(0,0,0,0.3);
  display: block;
}

h2{
  text-align: left;
  font-family: 'Raleway', sans-serif;
  width: 90vw;
  margin: auto;
  padding: 10px;
  color: white;

}
p{
  text-align: left;
  justify-content: center;
  padding: 20px;
  color:white;
}
p.intro{
  background-color: rgba(0,0,0,0.3);
  padding-top: 20px;

}
figcaption{
  color:white;
}

a:link{
  color:rgb(0,255,255);
}
a:visited{
  color: rgb(255,255,255);
}
body {
  background: transparent url(./images/smoke.jpg) top left;
  background-color: black;
  background-size: cover;
	background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin:0;
  overflow-x: hidden;

  }
  article{
    margin: 20px;
    background-color: rgba(0,0,0,0.3);
    border: solid .5px white;
    width: 90vw;
  }
  footer{
    height: 60px;
    text-align: center;
    padding: 50px;
    color: white;
  }
